.mainContainer {
  background-color: black;
  height: 70px;

  .title {
    color: white;
    font-weight: 700;
    font-size: 28px;
    line-height: 60px;
    font-family: "Alegreya Sans SC", serif;
    margin: 10px 0 0 61px;
    text-align: center;
  }
}